
<h1><%= @dojo.branch %></h1>
<h2>Street:&nbsp<%= @dojo.street %></h2>
<h2>City:&nbsp <%= @dojo.city %></h2>
<h2>State:&nbsp <%= @dojo.state %></h2>
<a href='/dojos'>Home</a>
<a href='/dojos/<%= @dojo.id %>/edit'>Edit</a>
<h1>Student Roster</h1>
<table>
  <thead>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student|%>
    <tr>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <td><%= student.email %></td>
      <td><a href='/dojos/<%= student.dojo_id %>/students/<%= student.id%>'>Show</a>&nbsp
      <a href='/dojos/<%= student.dojo_id %>/students/<%= student.id%>/edit'>Edit</a>&nbsp
      <form action='/student/<%= student.id %>' method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Destroy"></form></td>
    </tr>
  </tbody>
<% end %>  
</table>

<a href='/dojos'>Home</a>
<a href='/dojos/<%= @dojo.id %>/students/new'>Add Student</a>
<%= yield %>